.App {
	text-align: left;
	color: black;
	margin: 10% 5% ;
}
form{
	display: flex;
}
img {
    height: 2rem;
    margin-left: -3rem;
	cursor: pointer;
}
button{
	background: transparent;
	border: none;
}
.speaker {
	box-shadow: 2px 2px cyan;
    border: 1px solid;
    border-radius: 100%;
	margin-bottom: -2rem;

}

h1{
  color: #2730b4;
}
h2 {
  color: black;
  font-weight: 300;
}
input {
    width: 30rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid lavender;
	padding: 1rem;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

 li {
	 text-align: left;
 }
 .items {
	 color: black;
 }
 /* .syno {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #c3b8b8;
    width:max-content;
    border-radius: 35%;
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.3rem;
	box-shadow: rgb(0 0 0 / 30%) 2px 3px 2px;
} */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
